[submodule "libs/Base"]
	path = libs/Base
	url = git@github.com:dlsloan/lib_Base.git
[submodule "libs/IO"]
	path = libs/IO
	url = git@github.com:dlsloan/lib_IO.git
[submodule "libs/FileSystem"]
	path = libs/FileSystem
	url = git@github.com:dlsloan/lib_FileSystem.git
[submodule "libs/UT"]
	path = libs/UT
	url = git@github.com:dlsloan/lib_UT.git
